<nav class="STRPagination" role="navigation">

{{#if prev}}
	<a class="newer-posts" href="{{page_url prev}}">newer</a>
{{/if}}

<span class="page-number">Page {{page}} of {{pages}}</span>

{{#if next}}
	<a class="older-posts" href="{{page_url next}}">older</a>
{{/if}}

</nav>

<style>
.STRPagination {
	margin: 40px;
	text-align: center;
}

.STRPagination span {
	opacity: 0.5;
}

.STRPagination a {
	color: #ccc;
}
</style>
