<div class="ROCOGazette OLSKDecorModule">

<h2 class="ROCOGazetteHeading">Follow my journey</h2>

<p class="OLSKFollow">Find me on <a class="OLSKFollowTwitter" target="_blank" href="https://twitter.com/rosano">Twitter</a> or <a class="OLSKFollowMastodon" target="_blank" href="https://merveilles.town/@rosano">Mastodon</a>.</p>

<form class="ROCOBulletin OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank" data-members-form data-site-url="https://list.rosano.ca">

<p>
	<input class="ROCOBulletinAddressField" type="email" name="email" required="true" placeholder="you@example.com" data-members-email>
</p>

<!-- ghost -->
<input class="ROCOBulletinProjectFieldGhost" type="hidden" name="labels" value="RP_013" data-members-label>

<!-- buttondown -->
<input class="ROCOBulletinProjectFieldButtondown" type="hidden" name="tag" value="RP_013">
<input type="hidden" value="1" name="embed">

<p>
	<input class="ROCOBulletinSubmitButton OLSKDecorPressCall" type="submit" value="Subscribe to Rosano's mailing list">
  <strong class="ROCOBulletinFeedback">Check your inbox (and maybe the spam folder) for an activation link.</strong>
</p>

</form>

<style>
.ROCOBulletin .ROCOBulletinFeedback {
  display: none;
}

.ROCOBulletin.success input {
  display: none !important;
}

.ROCOBulletin.success .ROCOBulletinFeedback {
  display: unset !important;
}
</style>

</div>