<div class="STRRandom">

<div id="STRRandomTube"></div>

<script type="text/javascript">
OLSKTube.OLSKTubeLoad({
	ParamParent: window.STRRandomTube,
	ParamPlaylist: 'PL6v1zwoKiosMCiOTjwHG63nwuSAP_clUI',
	ParamAutoplay: !!`{{#is "page"}}{{#post}}{{#has slug="tv"}}true{{/has}}{{/post}}{{/is}}` || false,
});
</script>

</div>

<style>
.OLSKTubeEmbed {
	display: block;
	border: 10px solid #ff76ad;
	border-radius: 10px;
}

@media (min-width: 750px) {

	.OLSKTubeEmbed {
		width: 120%;
		height: 480px;
		position: relative;
		left: -12.5%;
	}

}

.OLSKTubeButtons button {
	background: #ff76ad !important;
	border-color: black !important;
	color: black !important;
}
</style>

</div>
