<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

<title>{{meta_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">

{{ghost_head}}

<style type="text/css">

html, body, .STRRandom, #STRRandomTube {
	display: block;
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	background: black;
}

.OLSKTubeEmbed {
	flex-grow: 1;
	border: none !important;
	width: 100% !important;
	left: 0 !important;
}

.OLSKBanner {
	display: none;
}
</style>

</head>
<body>

{{> STRRandom/ui-view}}

{{ghost_foot}}

</body>
</html>
