{{#post}}

<div class="STREpisode">

<p>
<a class="STREpisodeAll" href="/">← All episodes</a>
</p>

<time class="STREpisodeDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>

<article class="STREpisodeContent">

{{content}}

</article>

{{#unless @member}}
<script type="text/javascript">
(function() {
	if (!document.querySelector('#sections')) {
		return;
	}

	document.querySelector('#sections').nextElementSibling.nextElementSibling.innerHTML = document.querySelector('#sections').nextElementSibling.nextElementSibling.innerHTML.replace(/\d+\:\d+\s+/g, '')
})();
</script>
{{/unless}}

{{/post}}

{{> STRGuest/ui-view}}

{{> STRRelated/ui-view}}

<style>
.STREpisode {
	margin-top: 50px;
	margin-bottom: 100px;
}

.STREpisodeDate {
	font-family: "Helvetica Neue";
	opacity: 0.5;
}

#members-corner {
	padding: 20px;

	margin-top: 40px;
	
	background: #171124;
	text-align: center;
}

.kg-callout-card-yellow {
	background: rgb(255, 239, 190) !important;
	color: hsl(45.2, 100%, 19.3%) !important;
	margin: 25px 0;
}
</style>
