<div class="STRIntro OLSKCommonCard">

<div>
	<span class="STRIntroBlurb">{{@site.description}}</span>
	<p>
		<small class="STRIntroPlatforms">
			<a class="STRIntroPlatformsSpotify" href="/spotify">Spotify</a>
			<a class="STRIntroPlatformsYouTube" href="/youtube">YouTube</a>
			<a class="STRIntroPlatformsInstagram" href="https://rosano.ca/instagram">Instagram</a>
			<a class="STRIntroPlatformsPocketCasts" href="/pcast">Pocket Casts</a>
			<a class="STRIntroPlatformsApplePodcasts" href="/apple">Apple Podcasts</a>
			<a class="STRIntroPlatformsMore" href="#" onclick="document.querySelector('.STRIntroPlatforms').classList.add('STRIntroPlatformsShowExtra')">More…</a>
			<span class="STRIntroPlatformsExtra">
				<br>
				<a class="STRIntroPlatformsExtraFacebook" href="/facebook">Facebook</a>
				<a class="STRIntroPlatformsExtraTelegram" href="/telegram">Telegram</a>
				<a class="STRIntroPlatformsExtraWhatsapp" href="/whatsapp">WhatsApp</a>
				<a class="STRIntroPlatformsExtraTwitter" href="https://rosano.ca/twitter">Twitter</a>
				<a class="STRIntroPlatformsExtraTikTok" href="https://rosano.ca/tiktok">TikTok</a>
				<a class="STRIntroPlatformsExtraMastodon" href="https://rosano.ca/mastodon">Mastodon</a>
				<a class="STRIntroPlatformsExtraFeed" href="/podcast.rss">RSS Feed</a>
			</span>
		</small>
	</p>
</div>

</div>

<style>
.STRIntroBlurb {
	font-size: 14pt;
}

.STRIntroPlatforms a {
	margin-right: 4px;
}

.STRIntroPlatforms .STRIntroPlatformsExtra {
	display: none;
}

.STRIntroPlatformsShowExtra .STRIntroPlatformsExtra  {
	display: unset;
}

.STRIntroPlatformsShowExtra .STRIntroPlatformsMore  {
	display: none;
}
</style>
{{^is 'home'}}

<style>
.STRIntroBlurb {
	font-size: 32pt;
}
</style>

{{/is}}
