<div class="STRIntro OLSKLanding OLSKCommonCard">

<div>
	<span class="STRIntroBlurb OLSKLandingHeading">{{@site.description}}</span>
	<p>
		<a class="STRIntroPocketCasts" href="/pcast">Pocket Casts</a>
		<a class="STRIntroFeed" href="/podcast.rss">RSS Feed</a>
	</p>
</div>

</div>
