{{#post}}
<div class="STRGuest OLSKCommonCard">
	{{#if primary_tag.feature_image}}
		<img class="STRGuestImage" src="{{ primary_tag.feature_image }}" aria-hidden="true" />
	{{/if}}
	
	<a class="STRGuestLink" href="{{ primary_tag.url }}">More from {{ primary_tag.name }}</a>
</div>
{{/post}}

<style>
.STRGuest {
	margin-top: var(--OLSKSectionSpacing);
}

.STRGuestImage {
	border-radius: 10px;
}
</style>
