<div class="STRGuest">

<h1 class="STRGuestHeading">Guests</h1>

<div class="STRGuestList">

{{#get "tags" limit="all" filter="slug:-moos+slug:-money+slug:-meta"}}

{{#foreach tags}}

<a class="STRGuestLink" href="{{url}}" aria-text="{{name}}" style="background-image: url('{{ feature_image }}');">
	<div class="STRGuestLinkName">{{ name }}</div>
</a>

{{/foreach}}

{{/get}}

</div>

</div>

<style>
.STRGuestList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.STRGuestLink {
	margin: 0 20px 20px 0;
}

@media (max-width: 450px) {
	
	.STRGuestLink {
		margin: 10px;
	}

}

.STRGuestLink {
	width: 125px;
	height: 125px;
	border-radius: 10px;

	background-position: center;
	background-size: 125px;
	text-decoration: none;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.STRGuestLinkName {
	padding: 3px;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	text-shadow: 1px 1px 0 black; 
	font-size: 8pt;

	text-align: center;
	opacity: 0.7;
	flex-grow: 0;
}
</style>
