<div class="STRBelow">

{{^is 'home'}}

{{> STRIntro/ui-view}}

{{/is}}

{{> ROCOGazette}}

<div class="STRBelowLinks">

<small><a class="STRBelowEdit" href="https://github.com/strollingpodcast/STRTheme" target="_blank">Edit this</a>.</small>
<small class="STRBelowGhost">Powered by <a class="STRBelowGhostLink" href="https://ghost.org" target="_blank" rel="noopener noreferrer">Ghost</a>.</small>

</div>

{{!-- ROCORootLink --}}

<div class="ROCORootLink">

<a class="OLSKRootLink OLSKCommonRootLink" href="https://rosano.ca" title="Visit rosano.ca">
	<img class="OLSKRootLinkImage" role="presentation" src="https://static.rosano.ca/rcreativ/identity.svg">
</a>


</div>

</div>