<div class="STRBelow">
	
<!-- ROCOGazette -->

<div class="ROCOGazette OLSKDecorModule">

<h2 class="ROCOGazetteHeading">Follow my journey</h2>

<p class="OLSKFollow">Receive updates on <a class="OLSKFollowTwitter" target="_blank" href="https://twitter.com/rosano">Twitter</a> or <a class="OLSKFollowMastodon" target="_blank" href="https://merveilles.town/@rosano">Mastodon</a>.</p>

<form class="ROCOBulletin OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank">

	<p>
		<input class="ROCOBulletinAddressField" type="email" name="email" placeholder="you@example.com">
	</p>

	<input class="ROCOBulletinProjectField" type="hidden" name="tag" value="RP_005">
	<input type="hidden" value="1" name="embed">

	<p>
		<input class="ROCOBulletinSubmitButton OLSKDecorPressCall" type="submit" value="Subscribe to mailing list">
	</p>
	
</form>

</div>

<hr role="presentation">

{{!-- ROCORootLink --}}

<div class="ROCORootLink">

<a class="OLSKRootLink OLSKCommonRootLink" href="https://rosano.ca" title="Visit rosano.ca">
	<img class="OLSKRootLinkImage" role="presentation" src="https://static.rosano.ca/rcreativ/identity.svg">
</a>


</div>

</div>