<div class="STRBelow">
	
<!-- ROCOGazette -->

<div class="ROCOGazette OLSKDecorModule">

<h2 class="ROCOGazetteHeading">Join my mailing list to hear when this launches</h2>

<div class="ROCOBulletin">
	
<form class="ROCOBulletinScript OLSKDecorBigForm" data-members-form data-site-url="https://list.rosano.ca">

<p>
	<input class="ROCOBulletinScriptAddressField" type="email" name="email" required="true" placeholder="you@example.com" data-members-email />
</p>

<input class="ROCOBulletinScriptProjectField" type="hidden" name="tag" value="RP_013" data-members-label />

<p>
	<input class="ROCOBulletinScriptSubmitButton OLSKDecorPressCall" type="submit" value="Subscribe" />
  <strong class="ROCOBulletinScriptFeedback">Check your inbox (and maybe the spam folder) for an activation link.</strong>
</p>

</form>

<style>
.ROCOBulletinScript .ROCOBulletinScriptFeedback {
  display: none;
}

.ROCOBulletinScript.success input {
  display: none !important;
}

.ROCOBulletinScript.success .ROCOBulletinScriptFeedback {
  display: unset !important;
}
</style>

<noscript>

<form class="ROCOBulletinNoscript OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank">

<p>
	<input class="ROCOBulletinNoscriptAddressField" type="email" name="email" placeholder="you@example.com" />
</p>

<input class="ROCOBulletinNoscriptProjectField" type="hidden" name="tag" value="RP_013" />
<input type="hidden" value="1" name="embed" />

<p>
	<input class="ROCOBulletinNoscriptSubmitButton OLSKDecorPressCall" type="submit" value="Subscribe" />
</p>

</form>

</noscript>

</div>

</div>

<div class="STRBelowLinks">

<small><a class="STRBelowEdit" href="https://github.com/strollingpodcast/STRTheme" target="_blank">Edit this</a>.</small>
<small class="STRBelowGhost">Powered by <a class="STRBelowGhostLink" href="https://ghost.org" target="_blank" rel="noopener noreferrer">Ghost</a>.</small>

</div>

{{!-- ROCORootLink --}}

<div class="ROCORootLink">

<a class="OLSKRootLink OLSKCommonRootLink" href="https://rosano.ca" title="Visit rosano.ca">
	<img class="OLSKRootLinkImage" role="presentation" src="https://static.rosano.ca/rcreativ/identity.svg">
</a>


</div>

</div>