:root {
	--OLSKCommonBackground: #32254E;
	--OLSKCommonForeground: #FFE8F9;
}

a {
	color: #E56A9B !important;
}

.STRAboveCrown {
	color: inherit;

	text-decoration: none;
}

.STRAboveCrownImage {
	margin-right: unset;
}

.STRAboveCrownTitle {
	font-size: 25px;
}

.STRIntroPlatforms a {
	margin-right: 4px;
}

.STRPreview {
	align-items: flex-start;
}

.STRPreview a {
	text-decoration: none;
}

.STRPreviewMeta {
	display: block;

	font-family: "Helvetica Neue";
	opacity: 0.5;
}

.STRPreviewTitle {
	font-size: 28px;
}

.STRPreviewMeta, .STRPreviewTitle, .STRPreviewNotes {
	display: none;
}
