:root {
	--OLSKCommonContainerMaxWidth: 600px;
	--OLSKCommonBackground: #32254E;
	--OLSKCommonForeground: #fff5fd;
	--STRForegroundAlternative: #a177fb;
}

a {
	color: #ff76ad !important;
}

h1 {
	border-bottom: 0 !important;
}

/* STRAccountModule */

.STRAccountModule {
	padding: 18px;
	border: 0;

	margin: 0;

	background: #261c3b;
	text-align: center;
}

.STRAccountModule * {
	--OLSKDecorModuleForeground: #8b67d9;	
}

.STRAccountModule a {
	--OLSKDecorModuleForeground: var(--STRForegroundAlternative);	

	font-weight: bold;
	text-decoration: underline;
}

.kg-width-wide, .kg-width-full {}
