:root {
	--OLSKCommonContainerMaxWidth: 600px;
	--OLSKCommonBackground: #32254E;
	--OLSKCommonForeground: #FFE8F9;
}

a {
	color: #E56A9B !important;
}

.STRAboveCrown {
	color: inherit;

	text-decoration: none;
}

.STRAboveCrownImage {
	margin-right: unset;
}

.STRAboveCrownTitle {
	font-size: 25px;
}

.STRIntroPlatforms a {
	margin-right: 4px;
}

.STRPreview {
	align-items: flex-start;
}

.STRPreview a, .STREpisode a {
	text-decoration: none;
}

.STRPreviewMeta, .STREpisodeMeta {
	display: block;

	font-family: "Helvetica Neue";
	opacity: 0.5;
}

.STRPreviewTitle, .STREpisodeTitle {
	font-size: 28px;
}

.STRPreviewMeta, .STRPreviewTitle, .STRPreviewNotes {
	display: none;
}

.STREpisode {
	margin-bottom: 100px;
}

.kg-callout-card-yellow {
	background: rgb(255, 239, 190) !important;
	color: black !important;
	margin: 25px 0;
}

/* STRMembership  */

.gh-post-upgrade-cta {
	display: none;
}

.STRMembership {
	text-align: center;

	background: #fcedf4;
}

.STRMembershipButton {
	border: none !important;
	background: white !important;
}

.STRMembershipExistingLink {
	font-weight: bold;
}

.STRMembershipButton, .STRMembershipExistingLink {
	--OLSKDecorModuleForeground: #E56A9B !important;
}

/* STRBelow  */

.STRBelowLinks {
	text-align: center;
}
