<div class="STRExplore">

<h1 class="STRExploreHeading">Explore episodes</h1>

<section class="STRExploreList">

<a class="STRExploreAll" href="/all">All</a>

<a class="STRExploreSpotlight" href="/spotlight">Extended</a>

</section>

</div>
