<div class="STRExplore">

<h1 class="STRExploreHeading">Explore episodes</h1>

<section class="STRExploreList">

<a class="STRExploreAll" href="/all">All</a>

<a class="STRExploreSpotlight" href="/spotlight">Extended</a>

<a class="STRExploreGuests" href="/guests">Guests</a>

</section>

</div>

<style>
.STRExploreList {
	display: flex;
}

.STRExploreList a {
	display: block;
	padding: 10px;
	border-radius: 5px;

	margin: 5px;

	flex-grow: 1;

	text-decoration: none;
	text-align: center;
	color: white !important;
	font-weight: bold;
	font-family: "Helvetica Neue";
	font-size: 16pt;
	background: #a177fb;
}
</style>
