<div class="STRVitrine">

{{#is 'home'}}


{{> STRIntro/ui-view}}

{{#if @member}}
{{> STRAccountIn/ui-view}}
{{else}}
{{> STRAccountOut/ui-view}}
{{/if}}

{{> STRRandom/ui-view}}

{{/is}}

{{> STRExplore/ui-view}}

{{> STRFeatured/ui-view}}

</div>

<style>
h1 {
	text-align: center;
}
</style>
