<div class="STRVitrine">

{{#is 'home'}}


{{> STRIntro/ui-view}}

{{#if @member}}
{{> STRAccountIn/ui-view}}
{{else}}
{{> STRAccountOut/ui-view}}
{{/if}}

{{> STRRandom/ui-view}}

{{/is}}

{{> STRFeatured/ui-view}}

</div>
