<div class="STRAbove">
	<a class="STRAboveCrown OLSKCommonCard OLSKCommonCrownCard" href="/">
		<img class="STRAboveCrownImage" src="https://static.rosano.ca/strolling/identity.svg" />
		<section>
			<span class="STRAboveCrownTitle">{{@site.title}}</span>
		</section>
	</a>
	<button class="STRAboveSearch OLSKDecorPressCall" data-ghost-search>Search</button>
</div>

{{#post}}
{{#has slug="straccountin"}}
  {{> STRAccountIn/ui-view}}
{{/has}}
{{/post}}

{{^is 'home'}}

{{#if @member}}
{{> STRAccountIn/ui-view}}
{{else}}
{{> STRAccountOut/ui-view}}
{{/if}}

{{/is}}

<style>
.STRAbove {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.STRAboveCrown {
	color: inherit;
	text-decoration: none;
}

.STRAboveCrownImage {
	margin-right: unset;
}

.STRAboveCrownTitle {
	font-size: 25px;
}

.STRAboveSearch {
	--OLSKCommonForeground: #ff76ad;
}
</style>
