{{#post}}

<div class="STRGeneric">

<p>
<a class="STRGenericTitle" href="{{url}}">{{title}}</a>
</p>

<article class="STRGenericContent">

{{content}}

</article>

</div>

{{/post}}

{{> STRRelated/ui-view}}
