<aside class="STRPrompt OLSKDecorModule">

<h2 class="STRPromptBlurb">Become a member to hear full episodes</h2>

<p>
	<a class="STRPromptButton OLSKDecorPress OLSKDecorPressCall OLSKDecorTappable" onclick="OLSKClub.show()">Subscribe</a>
</p>
<p>
	<span class="STRPromptExistingBlurb">Already a member?</span>
	<a class="STRPromptExistingLink OLSKDecorTappable" data-portal="signin">Sign in</a>
</p>

</aside>

<style>
.STRPrompt {
	text-align: center;

	background: #fcedf4;
}

.STRPromptButton {
	border: none !important;
	background: white !important;
}

.STRPromptExistingLink {
	font-weight: bold;
}

.STRPromptButton, .STRPromptExistingLink {
	--OLSKDecorModuleForeground: #E56A9B !important;
}
</style>
