<aside class="STRPrompt OLSKDecorModule">

<h2 class="STRPromptBlurb">Become a member to get full access</h2>

<p>
	<a class="STRPromptButton OLSKDecorPress OLSKDecorPressCall OLSKDecorTappable" data-portal="signup">Subscribe</a>
</p>
<p>
	<span class="STRPromptExistingBlurb">Already a member?</span>
	<a class="STRPromptExistingLink OLSKDecorTappable" data-portal="signin">Sign in</a>
	<br />
	<small class="STRPromptBackers">(Open Collective Flare backers: your email works here)</small>
</p>

</aside>
