<div class="STRHeader">
	<a class="STRHeaderLink" href="/">
		<img class="STRHeaderLinkImage" src="https://static.rosano.ca/strolling/identity.svg" />
		<span class="STRHeaderLinkTitle">{{@site.title}}</span>
	</a>
</div>
