<div class="STRHeader">
	<a class="STRHeaderCrown OLSKCommonCard OLSKCommonCrownCard" href="/">
		<img class="STRHeaderCrownImage" src="https://static.rosano.ca/strolling/identity.svg" />
		<section>
			<span class="STRHeaderCrownTitle">{{@site.title}}</span>
		</section>
	</a>
</div>
