<div class="STRHeader">
	<a class="STRHeaderLink OLSKCommonCard OLSKCommonCrownCard" href="/">
		<img class="STRHeaderLinkImage" src="https://static.rosano.ca/strolling/identity.svg" />
		<section>
			<span class="STRHeaderLinkTitle">{{@site.title}}</span>
		</section>
	</a>
</div>
